@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Forum App</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        You are not logged in!
    </NotAuthorized>
</AuthorizeView>
<br/>
Here you can browse interesting posts.
